// Variables
$color-1: #f58f7c;
$color-2: #2c2c2c;
$color-3: #d6d6d6;
$color-4: #f2c4ce;
$color-5: #4f4f51;
$color-6: #ffffff;
$color-7: #000000;

// Mix-ins
@mixin lgHeading {
  font-family: "Spartan", sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
}
@mixin smHeading {
  font-family: "Spartan", sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  text-transform: uppercase;
}
@mixin bgImg {
  background-repeat: no-repeat;
  background-size: 125%;
}
@mixin button {
  border-radius: 0px;
  border-color: $color-1;
}

//Animations
@keyframes grow {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

//Global styles
body {
  font-family: "Open Sans", sans-serif;
}

.background {
  background-color: $color-2;
}

.arrows {
  max-width: 3rem;
}

//Home/Header + Nav
section#home {
  height: 100vh;
  .title {
    margin: 0 auto;
  }
  h1 {
    @include lgHeading();
    color: $color-1;
  }
  h2 {
    color: $color-3;
    font-size: 1.6rem;
  }
  .arrows {
    margin-top: 3rem;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

//About
section#about {
  width: 100%;
  margin: auto;
  padding: 9rem 0;
  background-color: $color-7;
  .profile {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto 3rem 0;
    animation-name: grow;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  h2 {
    @include lgHeading();
    color: $color-4;
    margin-bottom: 6rem;
  }
  article {
    max-width: 30rem;
    margin: 0 0 0 auto;
  }
  h3 {
    @include smHeading();
    color: $color-1;
    margin-bottom: 1rem;
  }
  p {
    font-weight: 700;
    color: $color-6;
  }
  .btn:hover {
    background-color: $color-1;
    color: $color-6;
  }
  .btn-outline-secondary {
    color: $color-6;
    @include button();
  }
  .arrows {
    display: block;
    margin: 3rem auto 0 auto;
  }
}

//Projects
section#projects {
  width: 100%;
  margin: auto;
  padding: 9rem 0;
  // background: url(../images/circle.svg) no-repeat;
  // background-size: cover;
  h2 {
    @include lgHeading();
    color: $color-2;
    margin-bottom: 6rem;
  }
}
//Contact

//Footer
