// Variables
$color-1: #f58f7c;
$color-2: #2c2c2c;
$color-3: #d6d6d6;
$color-4: #f2c4ce;
$color-5: #4f4f51;
$color-6: #ffffff;
$color-7: #000000;

$md-font: 6.4rem;
$lg-font: 8rem;
$xl-font: 9.6rem;

// Mix-ins
@mixin lgHeading {
  font-family: "Spartan", sans-serif;
  font-size: 3.2rem;
  font-weight: 700;
}
@mixin smHeading {
  font-family: "Spartan", sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
}
@mixin xsHeading {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
}
@mixin bgImg {
  background-repeat: no-repeat;
  background-size: 125%;
}
@mixin button {
  border-radius: 0px;
  border-color: $color-1;
}

//Animations
@keyframes grow {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1);
  }
}

// CUSTOM CSS***********************

//Global styles
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.background {
  background-color: $color-2;
}

.arrows {
  max-width: 3rem;
}

.badges {
  max-width: 2rem;
  margin-right: 1rem;
}

//Home/Header + Nav
nav {
  .nav-link:hover {
    color: $color-1 !important;
  }
}
section#home {
  h1 {
    @include lgHeading();
    color: $color-1;
  }
  h2 {
    color: $color-3;
    font-size: 1.6rem;
  }
}
.sticky {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1000;
}

//About
section#about {
  padding: 9rem 0;
  background-color: $color-7;
  .profile {
    width: 100%;
    max-width: 30rem;
    animation-name: grow;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
  h4 {
    @include xsHeading();
    color: $color-6;
  }
  h2 {
    @include lgHeading();
    color: $color-4;
    margin-bottom: 6rem;
  }
  h3 {
    @include smHeading();
    color: $color-1;
  }
  p {
    color: $color-6;
  }
  .btn:hover {
    background-color: $color-1;
    color: $color-6;
  }
  .btn-outline-secondary {
    color: $color-6;
    @include button();
  }
}

//Projects
section#projects {
  padding: 9rem 0;
  background-color: $color-1;
  h2 {
    @include lgHeading();
    color: $color-6;
    margin-bottom: 6rem;
  }
  .carousel-inner {
    margin-bottom: 3rem;
  }
  h3 {
    @include smHeading();
    color: $color-2;
    margin-bottom: 3rem;
  }
  img {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  h4 {
    @include xsHeading();
    color: $color-6;
  }
  p {
    margin-bottom: 3rem;
  }
  .btn:hover {
    background-color: $color-4;
    color: $color-6;
  }
  .btn-secondary {
    background-color: $color-2;
    border-radius: 0px;
    border: none;
    margin-bottom: 3rem;
  }
  .carousel-control-next,
  .carousel-control-prev {
    top: inherit;
    bottom: inherit;
  }
  .arrows {
    margin: 12rem auto 0;
  }
  span {
    color: $color-6;
  }
}
//Contact
section#contact {
  padding: 9rem 0;
  h2 {
    @include lgHeading();
    color: $color-5;
  }
  p {
    @include xsHeading();
    color: $color-4;
    margin-bottom: 6rem;
  }
  form {
    max-width: 30rem;
  }
  input,
  textarea {
    margin-bottom: 1rem;
    border-radius: 0;
  }
  textarea {
    height: 9rem;
  }
  .btn-outline-secondary {
    color: $color-1;
    border-color: $color-1;
  }
  .btn-outline-secondary:hover {
    color: $color-6;
    background-color: $color-1;
  }
  .btn-secondary {
    color: $color-6;
    background-color: $color-1;
    border-color: $color-1;
  }
  .btn-secondary:hover {
    background-color: #f37862;
    border-color: #f37862;
  }
}

//Footer
footer {
  background-color: $color-7;
  img {
    max-width: 3rem;
  }
  p {
    color: $color-5;
  }
}

// MEDIA QUERIES***********************

//Min-width 576px
@media (min-width: 576px) {
  section#home {
    h1 {
      font-size: $md-font;
    }
  }
  section#about,
  section#projects,
  section#contact {
    h2 {
      font-size: $md-font;
    }
  }
}

//Min-width 768px
@media (min-width: 768px) {
  section#home {
    h1 {
      font-size: $lg-font;
    }
  }
  section#about,
  section#projects,
  section#contact {
    h2 {
      font-size: $lg-font;
    }
  }
}

//Min-width 992px
@media (min-width: 992px) {
  section#about {
    h2 {
      text-align: left !important;
    }
    .profile {
      max-width: 66.666666%;
      margin: 0 !important;
    }
    .badge-wrap {
      margin-left: 2rem;
    }
    .badges {
      margin-right: 1.5rem;
    }
    article {
      max-width: 35rem;
    }
  }
  section#projects {
    h2 {
      text-align: left !important;
      transform: rotate(-90deg);
      align-self: flex-end;
      margin: 0 auto 0 -6rem;
    }
    .carousel-inner {
      justify-content: left;
      display: flex;
    }
    article {
      max-width: 35rem;
      margin: 0 0 0 auto;
    }
    .carousel-control-prev {
      left: 5%;
    }
  }
}

//Min-width 1200px
@media (min-width: 1200px) {
  section#home {
    h1 {
      font-size: $xl-font;
    }
  }
  section#about {
    h2 {
      font-size: $xl-font;
    }
    .profile {
      align-self: flex-start;
    }
    .badge-wrap {
      margin-left: 4rem;
    }
  }
  section#projects {
    h2 {
      font-size: $xl-font;
    }
    .carousel-control-prev {
      left: 20%;
    }
  }
  section#contact {
    h2 {
      font-size: $xl-font;
    }
  }
}
